extends layout

block content
  h1 All Items
  div#itemList
    each item in items
      a(href=item.url)
        div#itemListItem
          div
            img(src=item.image, alt=``) 
            h3=item.name
            p=item.description
            p=`$${item.price}`
