extends layout

block content
  h1 All Items
  div#itemList
    each item in items
        a(href=item.url)#itemListItem
          div
            h2=item.name
            p=item.description
            p=`$${item.price}`
            p=`${item.stock} in stock`
