

extends layout

block content
  a(href="/catalog")
    i(class="fas fa-arrow-left") 
  .item-detail
    h1=item.name
    p=item.description
    p=`$${item.price}`
    p=`${item.stock} in stock`

    hr
    p Categories:
    ul#categories
      each category in item.categories
        a(href=category.url)
          p=`${category.name}`
    hr
    p 
      a(href=item.url + '/update') Edit
    p
      a(href=item.url+'/delete') Delete